#game-board {
  width: 80%;
  margin: 10%;
}

#game-board table {
  border-collapse: collapse;
  width: 100%;
}

#game-board td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.board {
  background-color: #33FF38;
}

#player-hand {
  display: flex;
  justify-content: center;
  background-color: #E2E2E2;
  margin: auto;
  width: 85%;
  border: 3px solid green;
  padding: 10px;
}

#player-hand .name {
  width: 100px;
  height: 50px;
  margin: 0 5px;
  background-color: green;
}
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
}
