
body {
  font-family: sans-serif;
  background-image: url('../im/background.jpeg');
}

h1 {
  text-align: center;
  color: #edece4;
  font-family: 'georgia';
}
h2 {
  text-align: center;
  color: #edece4;
  font-family: 'Arial Narrow';
  font-size: 190%;
}
h3{
  text-align: center;
  color: #edece4;
  font-family: 'Arial Narrow';
  font-size: 120%;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #edece4;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button{
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 10%;
}


